<!DOCTYPE html>
{% extends 'base.html' %} {% load static %} {% block content %}
<!-- Marketing messaging and featurettes
      ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
  <!-- START THE FEATURETTES -->

  <div class="row text-center">
    <div class="col-md-12">
      <h2 class="py-5">About Me</h2>
    </div>
  </div>

  <div class="row featurette my-5">
    <div class="col-md-7">
      <h3 class="featurette-heading">
        Few Words About <span class="text-beige">me</span>
      </h3>
      <p class="lead my-3">
        After studying at The London College of Fashion in the early
        1980s I worked in the fashion and retail industry for over 30
        years before deciding to pursue my love of hats by creating
        bespoke pieces in 2013.<br />

        Drawing inspiration from my collection of vintage millinery
        and a long held love of the classic films of the 1930s and
        1940s and the glamorous clothes the stars wore in them, I
        fashion individual styles using unique vintage trimmings
        and fabrics so that each piece has a completely individual
        look.<br />

        I work closely with clients to create something really special
        in colours to match specific fabrics or outfits and taking time
        to discuss what occasion they are buying for and how they
        want to look and feel.<br />

        I live in leafy South East London with my photographer
        husband and our cats Monty and Betty and miniature
        schnauzer Rita.<br />
      </p>
      <p>
        <a class="btn btn-beige" href="{% url 'contact' %}" role="button">Get in Touch &raquo;</a>
      </p>
    </div>
    <div class="col-md-5">
      <img src="{% static 'img/about-img.jpg' %}" alt="" class="img-fluid pic--margin-top" />
    </div>
  </div>

  <div class="row service p-5">
    <div class="col-md-5">
      <img src="{% static 'img/bg.jpg' %}" alt="" class="img-fluid service-img pic--margin-top" />
    </div>
    <div class="col-md-7 px-3">
      <h4 class="text-center sub">TITLE</h4>
      <p class="lead g-text text-center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.
      </p>
    </div>
  </div>

  <div class="row service p-3">
    <div class="col-md-7 px-5">
      <h4 class="text-center sub">TITLE</h4>
      <p class="lead g-text text-center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.
      </p>
    </div>
    <div class="col-md-5">
      <img src="{% static 'img/bg2.jpg' %}" alt="" class="img-fluid service-img pic--margin-top" />
    </div>
  </div>

  <div class="row service p-5">
    <div class="col-md-5">
      <img src="{% static 'img/bg.jpg' %}" alt="" class="img-fluid service-img pic--margin-top" />
    </div>
    <div class="col-md-7 px-3">
      <h4 class="text-center sub">TITLE</h4>
      <p class="lead g-text text-center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.
      </p>
    </div>
  </div>
</div>
{% endblock %}