<!DOCTYPE html>
{% extends 'base.html' %} {% load static %} {% block content %}
<!-- Marketing messaging and featurettes
      ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
  <!-- START THE FEATURETTES -->

  <div class="row text-center">
    <div class="col-md-12">
      <h2 class="py-5">About Me</h2>
    </div>
  </div>

  <div class="row featurette my-5">
    <div class="col-md-7">
      <h3 class="featurette-heading">
        Few Words About <span class="text-beige">me</span><br />
      </h3>
      <p class="lead my-3">
        I create beautiful, handmade and unique headwear, offering a
        contemporary reinvention of vintage style for any occasion.<br /><br />My
        love of hats began as a child when I fell in love with the glamorous,
        feminine, elegance of the movie stars of the 1930 and 1940s.<br /><br />I
        studied at the London College of Fashion. After enjoying a successful
        career in the fashion and retail industry I decided to embrace to my
        love of hats by setting up as a milliner in 2013.<br /><br />In addition
        to making hats for weddings and the races I have designed for the
        theatre and created unique pieces for fashion shoots.
      </p>
      <p>
        <a class="btn btn-beige" href="{% url 'contact' %}" role="button"
          >Get in Touch &raquo;</a
        >
      </p>
    </div>
    <div class="col-md-5">
      <img
        src="{% static 'img/about-img.jpg' %}"
        alt=""
        class="img-fluid pic--margin-top"
      />
    </div>
  </div>

  <div class="row service">
    <div class="col-md-5">
      <img
        src="{% static 'img/bg.jpg' %}"
        alt=""
        class="img-fluid service-img"
      />
    </div>
    <div class="col-md-7 px-3">
      <p class="lead g-text my-3">
        While I am trained in both classical and vintage millinery techniques, I
        am also self-taught in vintage hat construction having collected a range
        of vintage hats which I use for inspiration and research. Every item is
        beautifully handmade to order. All hats are entirely hand-stitched by
        me. I never use a sewing machine, preferring to employ couture
        techniques. I also collect vintage ribbons, fabrics and trimmings for my
        clients, so that each piece really is one of a kind.
      </p>
    </div>
  </div>

  <div class="row service">
    <div class="col-md-7 px-5">
      <p class="lead g-text my-3">
        My personal inspirations include classic films, English garden flowers,
        art and vintage style. But what matters to me most is working closely
        with clients to create something really special to them. I take time to
        discuss how you want to look and feel and each hat is designed with love
        to flatter your face and complement your outfit. Find out more about how
        the bespoke process works <a href="#" class="red-link">here</a>. I also
        offer a small number of ready-to-wear hats and can remodel and trim
        existing hats. Or, if you have a precious vintage hat that has seen
        better days, I can restore, remodel or even reproduce it.
      </p>
    </div>
    <div class="col-md-5">
      <img
        src="{% static 'img/bg2.jpg' %}"
        alt=""
        class="img-fluid service-img"
      />
    </div>
  </div>

  <div class="row service">
    <div class="col-md-5">
      <img
        src="{% static 'img/bg.jpg' %}"
        alt=""
        class="img-fluid service-img"
      />
    </div>
    <div class="col-md-7 px-3">
      <p class="lead g-text my-3">
        I live in leafy South East London with my photographer husband, our cats
        Monty and Betty and our miniature schnauzer Rita, named after Rita
        Hayworth, of course. “I believe that every woman can look wonderful in a
        hat. And if you think you can’t, you just haven’t met the right hat
        yet.”
      </p>
    </div>
  </div>
</div>
{% endblock %}
