<!DOCTYPE html>
{% extends 'base.html' %} {% load static %} {% block content %}
<!-- Marketing messaging and featurettes
      ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
  <!-- START THE FEATURETTES -->

  <div class="row text-center">
    <div class="col-md-12">
      <h2 class="py-5">About Me</h2>
    </div>
  </div>

  <div class="row featurette my-5">
    <div class="col-md-7">
      <h3 class="featurette-heading">
        Few Words About <span class="text-beige">me</span>
      </h3>
      <p class="lead my-3">
        After studying at The London College of Fashion in the early
        1980s I worked in the fashion and retail industry for over 30
        years before deciding to pursue my love of hats by creating
        bespoke pieces in 2013.<br />

        Drawing inspiration from my collection of vintage millinery
        and a long held love of the classic films of the 1930s and
        1940s and the glamorous clothes the stars wore in them, I
        fashion individual styles using unique vintage trimmings
        and fabrics so that each piece has a completely individual
        look.<br />

        I work closely with clients to create something really special
        in colours to match specific fabrics or outfits and taking time
        to discuss what occasion they are buying for and how they
        want to look and feel.<br />

        I live in leafy South East London with my photographer
        husband and our cats Monty and Betty and miniature
        schnauzer Rita.<br />
      </p>
      <p>
        <a class="btn btn-beige" href="{% url 'contact' %}" role="button">Get in Touch &raquo;</a>
      </p>
    </div>
    <div class="col-md-5">
      <img src="{% static 'img/about-img.jpg' %}" alt="" class="img-fluid pic--margin-top" />
    </div>
  </div>

  <div class="row service p-5">
    <div class="col-md-5">
      <img src="{% static 'img/bg.jpg' %}" alt="" class="img-fluid service-img pic--margin-top" />
    </div>
    <div class="col-md-7 px-3">
      <p class="lead g-text text-center">
        <b>Favourite Flower?</b><br />
        Poppies - they are dramatic and vivid and yet so delicate. Also old fashioned Red or Pink roses
        are always lovely!<br /><br />
        <b>Most evocative smell?</b><br />
        Vine tomatoes - take me back immediately to my grandfathers greenhouse as a little girl.<br /><br />
        <b>Book?</b><br />
        Wise Children by Angela Carter or The Pursuit of Love by Nancy Mitford - I can read both of
        these again and again, they each have distinctly different but very British heroines at their heart.<br /><br />
        <b>Meal?</b><br />
        Brunch! Eggs Royale at Colbert on Sloane Square or one of our favourite local cafes.<br /><br />
      </p>
    </div>
  </div>

  <div class="row service p-3">
    <div class="col-md-7 px-5">
      <p class="lead g-text text-center">
        <b>Item of clothing?</b><br />
        Apart from hats obviously - floral crepe tea dresses, I have far too many and still buy more!<br /><br />
        <b>Classic hollywood film?</b><br />
        Some Like it Hot - it has everything and never fails to make me laugh.<br /><br />
        <b>Childhood holiday memory?</b><br />
        Collecting shells on the beach in Cornwall.<br /><br />
        <b>Drink?</b><br />
        A Peach Bellini or a cup of Earl Grey tea.<br /><br />
      </p>
    </div>
    <div class="col-md-5">
      <img src="{% static 'img/bg2.jpg' %}" alt="" class="img-fluid service-img pic--margin-top" />
    </div>
  </div>

  <div class="row service p-5">
    <div class="col-md-5">
      <img src="{% static 'img/bg.jpg' %}" alt="" class="img-fluid service-img pic--margin-top" />
    </div>
    <div class="col-md-7 px-3">
      <p class="lead g-text text-center">
        <b>Best Day ever?</b><br />
        My wedding day in May 2017.<br /><br />
        <b>What makes you laugh?</b><br />
        My husband and my cats and dog<br /><br />
        <b>Sweet treat?</b><br />
        Rococo flower creams or Laduree orange blossom or rose Macarons.<br /><br />
        <b>Biggest extravagance?</b><br />
        I spend far more than I should on Lingerie and shoes.<br /><br />
      </p>
    </div>
  </div>
</div>
{% endblock %}