<!DOCTYPE html>
{% extends 'base.html' %} {% load static %} {% block content %}
<section id="header">
  <div class="home-container">
    <div class="home-centered">
      <h1 class="text-center title">Susan Macaulay Millard</h1>
      <h3 class="text-center subtitle">Bespoke Millinery</h3>
      <h3 class="text-center subtitle">
        Vintage Inspiration, Modern Interpretation
      </h3>
    </div>
  </div>
</section>
<!-- Marketing messaging and featurettes
      ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
  <!-- START THE FEATURETTES -->

  <!-- <div class="row text-center">
    <div class="col-md-12 py-5">
      <h2 class="title">
        Susan Millard, <br />
        <span>Bespoke Millinery</span>
      </h2>
    </div>
  </div> -->

  <div class="row featurette my-5">
    <div class="col-md-7">
      <h3 class="featurette-heading">
        THE BEAUTY OF BESPOKE
      </h3>
      <p class="lead">
        I create elegant, modern headwear, inspired by vintage glamour, yet
        supremely wearable today.  Each retro-influenced piece is handmade by
        me, using meticulous couture techniques and exclusive materials chosen
        to complement your outfit.  I offer individual attention designed to
        help you discover your most flattering hat, headband or headpiece for
        any occasion.  These unique, heirloom pieces can also be surprisingly
        affordable.  My aim is to ensure all my clients look and feel beautiful,
        stylish and ready to turn heads.
      </p>
      <p>
        <a class="btn btn-beige" href="{% url 'contact' %}" role="button"
          >Contact me &raquo;</a
        >
      </p>
    </div>
    <div class="col-md-5 text-center">
      <img src="{% static 'img/man.jpg' %}" alt="" class="round img-fluid" />
    </div>
  </div>
</div>
<!-- <div class="row text-center">
    <div class="col-md-12 py-3">
      <h2 class="py-5">Portfolio</h2>
    </div>
  </div> -->
<div class="parallax">
  <div class="container">
    <h3 class="parallax-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </h3>
    <p class="text-left">
      <a
        class="btn btn-white btn-galleries"
        href="{% url 'categories' %}"
        role="button"
        >Gallery &raquo;</a
      >
    </p>
  </div>
</div>
<!-- <div class="row px-5">
    <div class="col-12 text-center">
        <p>
            You are one click away from discovering a new way to see the world.</Bespoke>Mine.</p>
        </p>
        <img class="img-fluid portfolio-img p-3" src="{% static 'img/portfolio.jpg' %}" />
    </div>
    </div> -->
<!-- <div class="row mb-5">
    <div class="col-12">
      <p class="text-left">
        <a
          class="btn btn-#E0CDBE btn-galleries"
          href="{% url 'categories' %}"
          role="button"
          >Portfolio &raquo;</a
        >
      </p>
    </div>
  </div> -->
<!-- Categories -->
<div class="container marketing">
  <section id="categories" class="py-5">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h2 class="py-5">Latest Projects</h2>
        </div>
      </div>
      <div class="row text-center">
        {% if categories %} {% for category in categories %}
        <div class="col-md-4 mb-3">
          <div class="text-container">
            <img
              src="{{ category.category_photo.url }}"
              alt=""
              class="mb-3 img-fluid homepage-img"
            />
            <div class="centered">
              <h5>
                <a href="portfolio/{{ category.slug }}">{{ category.name }}</a>
              </h5>
            </div>
          </div>
        </div>
        {% endfor %} {% else %}
        <div class="col-md-12">
          <p>No Categories Available</p>
        </div>
        {% endif %}
      </div>
    </div>
  </section>
  {% endblock %}
</div>
